/* .banner {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .banner > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.4vmax "Lucida Sans";
  }
  
  .banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
  }
  .banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  
  .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
  }
  
  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }
  
  .productCard > img {
    width: 14vmax;
  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  
    transform: translateY(-1vmax);
  }
  
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  } */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  background: linear-gradient(90deg,rgb(110,94,254)0%,rgba(73,63,252,1)100%);
  display: flex;
  padding: 0;
}

.clg_logo{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  color: #fff;
}


.despo{
  width: 50%;
    height: 90%;
    margin-left: 20px;
    cursor: pointer;
}


.nav_items{
  width: 50%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  /* justify-content: space-around; */
}
.nav_null{
  width: 50%;
  height: 100%;
}

.nav_buttons{
  width: 50%;
  height: 100%;
  text-align: end;
}
.nav_btn1{
 border: none;
 background: none;
 color: #fff;
 margin-right: 35px;
background-color: #3acbf7;
width: 77px;
height: 40px;
border-radius: 19px 0px 19px 4px;

}

.nav_btn2{
 border: none;
 background: none;
 color: #fff;
 margin-right: 35px;
background-color: #3acbf7;
width: 77px;
height: 40px;
border-radius: 19px 0px 19px 4px;
}

.sbtn:hover{
  background:linear-gradient(90deg,#3acbf7,rgba(73,63,252,1)60%);
  /* width: 40%;
  height: 90%; */
  /* margin-left: 26px; */
}


/* banner css */

.main_bbanner{
  /*  sub sahi tha */
  /* height: 30%; */
  width: 100%;
  height: 50px;
  z-index: 2;
  /* background-color: black; */
}

.b_logo{
  width: 100%;
}

.b_text{
   z-index: 10;
}



/* Data */


.data_container{
  margin-top:22.5vmax ;
  display: flex;
  width: 100%;
  height: 450px;
  /* background: #bfe6f1; */
  flex-direction: row;
}
.data_left{
  background-color: #fff;
}

.left_card{
  /* background: linear-gradient(90deg,rgb(73, 55, 239)0%,rgb(100, 94, 220)100%);
   */
  background-color: #fff;
  height: 70%;
  width: 70%;
  display: block;
  margin: 10% auto ;
  border-radius: 30px 0px 30px 0px;
  text-align: center;

}

.left_card:hover{
  background:none;
  /* border: 2.5px solid rgb(77, 22, 229); */
}


.data_right{
  background-color: #fff;
  

}

.right_card{
  height: 70%;
  width: 70%;
  display: block;
  margin: 10% auto ;
  text-align: center;
}
.right_card:hover{
  /* background:none; */
  /* background: linear-gradient(90deg,rgb(73, 55, 239)0%,rgb(100, 94, 220)100%); */
  /* border-radius: 30px 0px 30px 0px; */

  /* border: 5px solid rgb(77, 22, 229); */
}



/* footer */

footer {
  /* margin-top: 30vmax; */
  padding: 2vmax;
  /* background-color: rgb(34, 33, 33); */
  background:linear-gradient(90deg,#3acbf7,rgba(73,63,252,1)60%);
 
  color: white;
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  cursor: pointer;
  color: #fff;
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
  cursor: pointer;
}
.midFooter > p:hover{
  color: gold;
}
.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: gold;
}

.foot_nav{
  width: 200%;
  height: 100px;
  margin-left: 51px;
}